@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #EDEEF0;
   background-image: url('images/bgpng.png');
  background-size:auto; 
  height: 100%;
  width: 100%;
  color: black;
}

.nav {
  font-size: 17px;
  font-weight: bold;
}

.fade-anim {
  animation: fadeAnim 0.75s ease-out;
}

@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
