@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #eaecee; 
  /* background-image: url("file:///C:/Users/fahad/OneDrive/Desktop/portfolio/src/images/website%20background.png");
  background-size:auto; */
  height: 100%;
  width: 100%;
  color: black;
}

.nav {
  font-size: 17px;
  font-weight: bold
}

.fade-anim {
  animation: fadeAnim 0.75s ease-out;
}


@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}